* {
 margin:0;
 padding:0;
 box-sizing:border-box;
}
html, body {
 height:100%;
 width:100%;
}
main{
    height:100%;
    width:100%;
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#box{
    background-color: white;
    height: 500px;
    width: 350px;
    border-radius: 10px;
}
#inner-box{
    height: 100%;
    width: 100%;
    padding: 10%;
    overflow: hidden;
    position: relative;
}

img{
    object-fit: cover;
    height: 90%;
    width: 100%;
    border-radius: 10px;
   

}

p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-top: 15px;
    font-weight:700 ;
}
#like{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 70px;
    opacity: 0;
    background: Linear-gradient(to right bottom, rgba(246, 178, 31, 0.961), rgb(255, 0, 149));
    background-size: cover;
    background-clip: text;
    color: transparent;
    transform: translate(-50%, -50%) scale(0) rotate(-60deg);
    transition: all cubic-bezier(.65,1,.77,1.44) 0.4s;
}